@use "src/shared/styles/variables";

.tags {
  margin-right: 24px;
  padding: 12px;
  width: 240px;
  align-self: baseline;
  border: 1px solid variables.$border;
  border-radius: 18px;
}

.item {
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;

  &Current {
    background-color: variables.$accent-main;
    border-radius: 12px;
    color: white;
  }

  @media (hover: hover) {
    &:hover:not(&Current) {
      color: variables.$border;
    }
  }
}